html * {
    font-family: 'Raleway', sans-serif;
    margin: 2;
    padding: 2;
}

#form {
    background: white;
    text-align: center;
    margin: auto;
    width: 700px;
    height: 700px;
}

input {
    border-radius: 25px;
    margin: 10px;
    height: 50px;
    width: 300px;
    font-size: 1.5em;
    padding-left: 8px;
    border: 1px solid rgb(206, 206, 206);
}

h1 {
    padding-top: 2em;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    margin: 1em 0 0 0;
    font-size: 1em;
}

p {
    font-size: 1em;
}